:root{
  --color-fondo:black;
  --colol-texto:white;
  --color-hover: #007bff;
}
header {
  background-color: var(--color-fondo);
  padding: 10px;
  border-bottom: 2px solid #ccc;
  letter-spacing: 5px;
}

.titulo {
  text-align: center;
  font-size: 40px;
  margin: 15px 0;
  color: var(--colol-texto);
}
