:root{
  --color-fondo:black;
  --colol-texto:white;
  --color-hover: #007bff;
}

#menu {
  background-color: var(--color-fondo);
  padding: 20px;
  border-bottom: 2px solid #ccc;
  display: flex;
  gap: 20px;
}

#menu .nav-item {
  text-decoration: none;
  color: var(--colol-texto);
  font-weight: 500;
  border: #007bff 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #007bff;
  margin: 5px;
}

#menu .nav-item:hover {
  color: var(--color-hover);
  background-color: #333;
} 