:root{
  --color-fondo:black;
  --color-texto:white;
  --color-hover: #007bff;
  --color-secundario: #6dffe7fb;
}

#menu {
  background-color: var(--color-fondo);
  padding: 15px;
  border-bottom: 4px solid #6887c0fb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'rockwell';
  font-size: 15px; 
}

#menu .nav-item {
  text-decoration: none;
  color: var(--color-texto);
  border: var(--color-secundario)1px solid;
  border-radius: 30px;
  padding: 10px 70px;
  background-color: var(--color-hover);
  margin: 50px;
 
}

#menu .nav-item:hover {
  box-shadow: 0 0 10px var(--color-secundario);
} 

